<div class="no-print">
    <p>doc-print works!</p>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    {{contador()}}
                    
                    
                    HEADER Month
                    {{montaCabecalho()}}

                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td>FOOTER ==================</td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>INICIO1... Suspendisse rutrum nunc vitae dolor lacinia tincidunt. Donec id risus sed nisl cursus scelerisque vel suscipit nisi. Nunc pulvinar tincidunt justo. Etiam commodo sapien ac dolor ultrices venenatis. Maecenas vehicula laoreet ante imperdiet pretium. Vestibulum non maximus nunc. In porta scelerisque tortor non lacinia. Cras condimentum, enim porta vehicula malesuada, libero nibh feugiat ligula, non scelerisque metus ligula ut tellus. Duis aliquet turpis sed commodo vulputate. Etiam augue libero, condimentum id pulvinar in, scelerisque dapibus lorem. Suspendisse pharetra varius ultricies. Nullam quis consequat nunc, non malesuada turpis. Mauris nec metus at nibh volutpat luctus. Etiam ac feugiat enim. Morbi aliquam lacus leo, id sollicitudin orci iaculis a. Mauris finibus in mi sit amet blandit. Nullam nunc quam. ...FIM1</td>
            </tr>
            <tr>
                <td>INICIO2... Curabitur enim urna, ornare sit amet arcu at, fringilla interdum ex. Quisque vel venenatis felis. Duis bibendum, nisl eu rhoncus aliquam, nunc mi imperdiet neque, quis pulvinar quam est ac tortor. Nunc ultricies sit amet quam vitae aliquam. In feugiat, ex eget gravida maximus, leo neque ultricies augue, vitae sagittis libero leo et quam. Vivamus rutrum quam at lorem bibendum, a sodales est laoreet. Integer sed interdum justo. Donec eu nisl sit amet nisi iaculis maximus. Nulla facilisi. Morbi venenatis sit amet turpis id tincidunt. In sagittis scelerisque nisl quis consequat. Nullam interdum posuere nunc id venenatis. ...FIM2</td>
            </tr>
            <tr>
                <td>INICIO3... Etiam interdum ornare felis quis consequat. Phasellus luctus dignissim nunc non malesuada. Aliquam erat volutpat. Aliquam eget nibh tempor, lacinia eros vitae, euismod leo. Phasellus porttitor turpis mi, eget cursus ipsum fringilla sed. Maecenas fringilla malesuada condimentum. Vivamus aliquet congue metus, sed iaculis arcu faucibus at. Nulla ornare quis quam quis sagittis. Aliquam nibh felis, posuere vitae odio ut, sodales varius ipsum. ...FIM3</td>
            </tr>
            <tr>
                <td>INICIO4... Cras et dapibus mauris, quis egestas leo. Mauris at arcu vitae velit rhoncus bibendum. Nunc varius elit molestie lectus commodo imperdiet in porttitor neque. Curabitur et commodo libero, sit amet tincidunt odio. Integer augue lectus, hendrerit vel volutpat nec, commodo ac eros. Mauris blandit a augue ac vestibulum. Morbi quis eleifend enim, eu tristique lacus. ...FIM4</td>
            </tr>
            <tr>
                <td>INICIO5... Nullam eu facilisis est. Sed pretium congue eros, tincidunt ornare ante lacinia quis. Aliquam accumsan lectus sed diam porta, porttitor pulvinar odio varius. Proin vitae orci consectetur, bibendum nibh vel, pellentesque quam. Integer blandit eu tortor id mattis. Donec dictum, arcu at elementum fermentum, arcu enim elementum purus, at eleifend orci ante eget nunc. Aenean sit amet est feugiat, faucibus urna vitae, tempus augue. Phasellus vel lorem nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Nam at eros ullamcorper, rutrum est et, sagittis mauris. Pellentesque sed mauris sem. Suspendisse semper risus ac magna cursus blandit. Aliquam a sapien vel dolor cursus vulputate sed non neque. Suspendisse aliquam sapien arcu, at pretium nisl efficitur ut. Donec vitae eros vel tellus egestas tempor ac sit amet justo.   ...FIM5</td>
            </tr>
            <tr>
                <td>INICIO1... Suspendisse rutrum nunc vitae dolor lacinia tincidunt. Donec id risus sed nisl cursus scelerisque vel suscipit nisi. Nunc pulvinar tincidunt justo. Etiam commodo sapien ac dolor ultrices venenatis. Maecenas vehicula laoreet ante imperdiet pretium. Vestibulum non maximus nunc. In porta scelerisque tortor non lacinia. Cras condimentum, enim porta vehicula malesuada, libero nibh feugiat ligula, non scelerisque metus ligula ut tellus. Duis aliquet turpis sed commodo vulputate. Etiam augue libero, condimentum id pulvinar in, scelerisque dapibus lorem. Suspendisse pharetra varius ultricies. Nullam quis consequat nunc, non malesuada turpis. Mauris nec metus at nibh volutpat luctus. Etiam ac feugiat enim. Morbi aliquam lacus leo, id sollicitudin orci iaculis a. Mauris finibus in mi sit amet blandit. Nullam nunc quam. ...FIM1</td>
            </tr>
            <tr>
                <td>INICIO2... Curabitur enim urna, ornare sit amet arcu at, fringilla interdum ex. Quisque vel venenatis felis. Duis bibendum, nisl eu rhoncus aliquam, nunc mi imperdiet neque, quis pulvinar quam est ac tortor. Nunc ultricies sit amet quam vitae aliquam. In feugiat, ex eget gravida maximus, leo neque ultricies augue, vitae sagittis libero leo et quam. Vivamus rutrum quam at lorem bibendum, a sodales est laoreet. Integer sed interdum justo. Donec eu nisl sit amet nisi iaculis maximus. Nulla facilisi. Morbi venenatis sit amet turpis id tincidunt. In sagittis scelerisque nisl quis consequat. Nullam interdum posuere nunc id venenatis. ...FIM2</td>
            </tr>
            <tr>
                <td>INICIO3... Etiam interdum ornare felis quis consequat. Phasellus luctus dignissim nunc non malesuada. Aliquam erat volutpat. Aliquam eget nibh tempor, lacinia eros vitae, euismod leo. Phasellus porttitor turpis mi, eget cursus ipsum fringilla sed. Maecenas fringilla malesuada condimentum. Vivamus aliquet congue metus, sed iaculis arcu faucibus at. Nulla ornare quis quam quis sagittis. Aliquam nibh felis, posuere vitae odio ut, sodales varius ipsum. ...FIM3</td>
            </tr>
            <tr>
                <td>INICIO4... Cras et dapibus mauris, quis egestas leo. Mauris at arcu vitae velit rhoncus bibendum. Nunc varius elit molestie lectus commodo imperdiet in porttitor neque. Curabitur et commodo libero, sit amet tincidunt odio. Integer augue lectus, hendrerit vel volutpat nec, commodo ac eros. Mauris blandit a augue ac vestibulum. Morbi quis eleifend enim, eu tristique lacus. ...FIM4</td>
            </tr>
            <tr>
                <td>INICIO5... Nullam eu facilisis est. Sed pretium congue eros, tincidunt ornare ante lacinia quis. Aliquam accumsan lectus sed diam porta, porttitor pulvinar odio varius. Proin vitae orci consectetur, bibendum nibh vel, pellentesque quam. Integer blandit eu tortor id mattis. Donec dictum, arcu at elementum fermentum, arcu enim elementum purus, at eleifend orci ante eget nunc. Aenean sit amet est feugiat, faucibus urna vitae, tempus augue. Phasellus vel lorem nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Nam at eros ullamcorper, rutrum est et, sagittis mauris. Pellentesque sed mauris sem. Suspendisse semper risus ac magna cursus blandit. Aliquam a sapien vel dolor cursus vulputate sed non neque. Suspendisse aliquam sapien arcu, at pretium nisl efficitur ut. Donec vitae eros vel tellus egestas tempor ac sit amet justo.   ...FIM5</td>
            </tr>
            <tr>
                <td>INICIO1... Suspendisse rutrum nunc vitae dolor lacinia tincidunt. Donec id risus sed nisl cursus scelerisque vel suscipit nisi. Nunc pulvinar tincidunt justo. Etiam commodo sapien ac dolor ultrices venenatis. Maecenas vehicula laoreet ante imperdiet pretium. Vestibulum non maximus nunc. In porta scelerisque tortor non lacinia. Cras condimentum, enim porta vehicula malesuada, libero nibh feugiat ligula, non scelerisque metus ligula ut tellus. Duis aliquet turpis sed commodo vulputate. Etiam augue libero, condimentum id pulvinar in, scelerisque dapibus lorem. Suspendisse pharetra varius ultricies. Nullam quis consequat nunc, non malesuada turpis. Mauris nec metus at nibh volutpat luctus. Etiam ac feugiat enim. Morbi aliquam lacus leo, id sollicitudin orci iaculis a. Mauris finibus in mi sit amet blandit. Nullam nunc quam. ...FIM1</td>
            </tr>
            <tr>
                <td>INICIO2... Curabitur enim urna, ornare sit amet arcu at, fringilla interdum ex. Quisque vel venenatis felis. Duis bibendum, nisl eu rhoncus aliquam, nunc mi imperdiet neque, quis pulvinar quam est ac tortor. Nunc ultricies sit amet quam vitae aliquam. In feugiat, ex eget gravida maximus, leo neque ultricies augue, vitae sagittis libero leo et quam. Vivamus rutrum quam at lorem bibendum, a sodales est laoreet. Integer sed interdum justo. Donec eu nisl sit amet nisi iaculis maximus. Nulla facilisi. Morbi venenatis sit amet turpis id tincidunt. In sagittis scelerisque nisl quis consequat. Nullam interdum posuere nunc id venenatis. ...FIM2</td>
            </tr>
            <tr>
                <td>INICIO3... Etiam interdum ornare felis quis consequat. Phasellus luctus dignissim nunc non malesuada. Aliquam erat volutpat. Aliquam eget nibh tempor, lacinia eros vitae, euismod leo. Phasellus porttitor turpis mi, eget cursus ipsum fringilla sed. Maecenas fringilla malesuada condimentum. Vivamus aliquet congue metus, sed iaculis arcu faucibus at. Nulla ornare quis quam quis sagittis. Aliquam nibh felis, posuere vitae odio ut, sodales varius ipsum. ...FIM3</td>
            </tr>
            <tr>
                <td>INICIO4... Cras et dapibus mauris, quis egestas leo. Mauris at arcu vitae velit rhoncus bibendum. Nunc varius elit molestie lectus commodo imperdiet in porttitor neque. Curabitur et commodo libero, sit amet tincidunt odio. Integer augue lectus, hendrerit vel volutpat nec, commodo ac eros. Mauris blandit a augue ac vestibulum. Morbi quis eleifend enim, eu tristique lacus. ...FIM4</td>
            </tr>
            <tr>
                <td>INICIO5... Nullam eu facilisis est. Sed pretium congue eros, tincidunt ornare ante lacinia quis. Aliquam accumsan lectus sed diam porta, porttitor pulvinar odio varius. Proin vitae orci consectetur, bibendum nibh vel, pellentesque quam. Integer blandit eu tortor id mattis. Donec dictum, arcu at elementum fermentum, arcu enim elementum purus, at eleifend orci ante eget nunc. Aenean sit amet est feugiat, faucibus urna vitae, tempus augue. Phasellus vel lorem nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Nam at eros ullamcorper, rutrum est et, sagittis mauris. Pellentesque sed mauris sem. Suspendisse semper risus ac magna cursus blandit. Aliquam a sapien vel dolor cursus vulputate sed non neque. Suspendisse aliquam sapien arcu, at pretium nisl efficitur ut. Donec vitae eros vel tellus egestas tempor ac sit amet justo.   ...FIM5</td>
            </tr>
            <tr>
                <td>INICIO1... Suspendisse rutrum nunc vitae dolor lacinia tincidunt. Donec id risus sed nisl cursus scelerisque vel suscipit nisi. Nunc pulvinar tincidunt justo. Etiam commodo sapien ac dolor ultrices venenatis. Maecenas vehicula laoreet ante imperdiet pretium. Vestibulum non maximus nunc. In porta scelerisque tortor non lacinia. Cras condimentum, enim porta vehicula malesuada, libero nibh feugiat ligula, non scelerisque metus ligula ut tellus. Duis aliquet turpis sed commodo vulputate. Etiam augue libero, condimentum id pulvinar in, scelerisque dapibus lorem. Suspendisse pharetra varius ultricies. Nullam quis consequat nunc, non malesuada turpis. Mauris nec metus at nibh volutpat luctus. Etiam ac feugiat enim. Morbi aliquam lacus leo, id sollicitudin orci iaculis a. Mauris finibus in mi sit amet blandit. Nullam nunc quam. ...FIM1</td>
            </tr>
            <tr>
                <td>INICIO2... Curabitur enim urna, ornare sit amet arcu at, fringilla interdum ex. Quisque vel venenatis felis. Duis bibendum, nisl eu rhoncus aliquam, nunc mi imperdiet neque, quis pulvinar quam est ac tortor. Nunc ultricies sit amet quam vitae aliquam. In feugiat, ex eget gravida maximus, leo neque ultricies augue, vitae sagittis libero leo et quam. Vivamus rutrum quam at lorem bibendum, a sodales est laoreet. Integer sed interdum justo. Donec eu nisl sit amet nisi iaculis maximus. Nulla facilisi. Morbi venenatis sit amet turpis id tincidunt. In sagittis scelerisque nisl quis consequat. Nullam interdum posuere nunc id venenatis. ...FIM2</td>
            </tr>
            <tr>
                <td>INICIO3... Etiam interdum ornare felis quis consequat. Phasellus luctus dignissim nunc non malesuada. Aliquam erat volutpat. Aliquam eget nibh tempor, lacinia eros vitae, euismod leo. Phasellus porttitor turpis mi, eget cursus ipsum fringilla sed. Maecenas fringilla malesuada condimentum. Vivamus aliquet congue metus, sed iaculis arcu faucibus at. Nulla ornare quis quam quis sagittis. Aliquam nibh felis, posuere vitae odio ut, sodales varius ipsum. ...FIM3</td>
            </tr>
            <tr>
                <td>INICIO4... Cras et dapibus mauris, quis egestas leo. Mauris at arcu vitae velit rhoncus bibendum. Nunc varius elit molestie lectus commodo imperdiet in porttitor neque. Curabitur et commodo libero, sit amet tincidunt odio. Integer augue lectus, hendrerit vel volutpat nec, commodo ac eros. Mauris blandit a augue ac vestibulum. Morbi quis eleifend enim, eu tristique lacus. ...FIM4</td>
            </tr>
            <tr>
                <td>INICIO5... Nullam eu facilisis est. Sed pretium congue eros, tincidunt ornare ante lacinia quis. Aliquam accumsan lectus sed diam porta, porttitor pulvinar odio varius. Proin vitae orci consectetur, bibendum nibh vel, pellentesque quam. Integer blandit eu tortor id mattis. Donec dictum, arcu at elementum fermentum, arcu enim elementum purus, at eleifend orci ante eget nunc. Aenean sit amet est feugiat, faucibus urna vitae, tempus augue. Phasellus vel lorem nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Nam at eros ullamcorper, rutrum est et, sagittis mauris. Pellentesque sed mauris sem. Suspendisse semper risus ac magna cursus blandit. Aliquam a sapien vel dolor cursus vulputate sed non neque. Suspendisse aliquam sapien arcu, at pretium nisl efficitur ut. Donec vitae eros vel tellus egestas tempor ac sit amet justo.   ...FIM5</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="no-print">Olá</div>
<div class="no-print">
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">HOME</a>
</div>